<li class="comment" id=<%= "comment-"+comment.id.to_s %>>
<div class="comment-inf">
<p><%= comment.user.name %></p>
<p><%= comment.text %></p>
</div>
<%= form_with model: comment, class: "comment-delete", url: '/comment/delete' do |form| %>
    <%= hidden_field_tag(:comment_id, comment.id) %>
    <%= form.submit "Delete", class: "comment-delete" %>
    <% end %>
</li>