<div id=<%="post-"+post.id.to_s %> class="post-container">
<a href =<%= request.original_url+"/posts/"+post.id.to_s %>>
  <h2 id=<%="post-"+post.id.to_s+"-name" %> class="post-name"><%= post.title %></h2>
  </a>
    <p id=<%="post-"+post.id.to_s+"-summary" %> class = "post-summary"><%= post.text %></p>
    <h4 id=<%="post-"+post.id.to_s+"-author" %> class="post-author">Author: <%= post.user.name %></h4>
    <h4 id=<%="post-"+post.id.to_s+"-lk" %> class="post-lk">comments <%= post.comments_counter %>, likes <%= post.likes_counter %></h4>
    <% if !post.likes.exists?(user_id: [@current_user.id]) %>
    <%= form_with model: @like, class: "like-form", url: '/like/create' do |form| %>
    <%= hidden_field_tag(:post_id, post.id) %>
    <%= form.submit "Like", class: "likeornot" %>
    <% end %>
    <% else %>
    <%= form_with model: @like, class: "like-form", url: '/like/delete' do |form| %>
    <%= hidden_field_tag(:post_id, post.id) %>
    <%= form.submit "Dislike", class: "likeornot dislike" %>
    <% end %>
    <% end %>
</div>