    <%= render partial: "shared/header" %>
    <div class="post">
      <h1 class="post-title"><%= @post.title %>
      <h4 id=<%="post-"+@post.id.to_s+"-author" %> class="post-author">Author: <%= @post.user.name %></h4>
      <h4 id="post-1-lk" class="post-lk">comments <%= @post.comments_counter%>, likes <%= @post.likes_counter%></h4>
      <p class="post-content">
      <%= @post.text %>
      </p>
          <% if !@post.likes.exists?(user_id: [@current_user.id]) %>
    <%= form_with model: @like, class: "like-form", url: '/like/create' do |form| %>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <%= form.submit "Like", class: "likeornot" %>
    <% end %>
    <% else %>
    <%= form_with model: @like, class: "like-form", url: '/like/delete' do |form| %>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <%= form.submit "Dislike", class: "likeornot dislike" %>
    <% end %>
    <% end %>
    </div>
    
    <ul class="comment-section" id="comment-section">
    <li>Comments Section:</li>
    <%= render partial: "shared/comment", collection: @comments %>
    </ul>
    <%= form_with model: @comment, class: "comment-form", url: @post.id.to_s+'/create' do |form| %>
    <h3 class="do-comment">Do a comment: </h3>
      <%= form.text_field :text%>
      <%= form.submit "Submit", class: "submit" %>
    <% end %>